<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">CoderByte</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/companies" class="nav-link" routerLinkActive="active" *ngIf="isLoggedIn">Companies</a></li>
      <li class="nav-item"><a routerLink="/contacts" class="nav-link" routerLinkActive="active" *ngIf="isLoggedIn">Contacts</a></li>
      <li class="nav-item"><a href="#" class="nav-link" routerLinkActive="active" aria-current="page" (click)="logout()" *ngIf="isLoggedIn">Logout</a></li>
      <!-- <li class="nav-item"><a routerLink="/login" class="nav-link" routerLinkActive="active" aria-current="page" *ngIf="!isLoggedIn">Login</a></li> -->
    </ul>
  </header>

  <router-outlet></router-outlet>
</div>